/* common */
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.row > * {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
.row {
  --bs-gutter-x: 0;
}
.header {
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgb(253, 84, 61);
  position: fixed;
  z-index: 1;
}
.text-logo {
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  font-family: sans-serif;
  margin: 12.5px 0px 12.5px 40px;

  font-size: 18px;
}
.icon {
  display: inline-block;
}
.restart {
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  font-family: sans-serif;
  margin: 15px 0 15px 0;
  font-size: 18px;
  display: inline-block;
}
.notification {
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  font-family: sans-serif;
  margin: 12.5px 0 12.5px 30px;
  font-size: 18px;
  display: inline-block;
}
.user-infor {
  position: relative;
  text-align: end;
  right: 20px;
  top: 15px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: sans-serif;
}
.user-infor img {
  border-radius: 50%;
}
.right-left {
}
.menu {
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 150px;
  position: fixed;
}
.menu ul {
  margin-bottom: 330px;
  padding-right: 40px;
  padding-left: 40px;
}
.menu ul li {
  border: 1px solid;
  padding: 10px 0px 10px 30px;
  margin-top: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: 600;
  color: rgb(253, 84, 61);
  font-size: 18px;
  border: rgb(253, 84, 61);
  list-style: none;
}
.button-logout {
  padding: 10px 0px 10px 30px;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: 600;
  border: none;
  color: rgb(253, 84, 61);
}
.button-logout:hover {
  background-color: rgb(253, 84, 61);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.button-logout-class {
  padding: 25px 40px 0px 40px;
}
.button-logout-class a {
  text-decoration: none;
}

.menu ul a {
  text-decoration: none;
}
.menu ul li:hover {
  background-color: rgb(253, 84, 61);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.menu ul li .fa-product-hunt {
  margin-right: 25px;
}
.menu ul li .fa-users {
  margin-right: 25px;
}
.menu ul li .fa-chart-simple {
  margin-right: 25px;
}
.button-logout .fa-arrow-right-from-bracket {
  margin-right: 25px;
}
/* end common  */
.table-dashboard {
  height: 100%;
  position: absolute;
  right: 0;
  padding-top: 60px;
  background-color: rgb(255, 255, 255);
  position: fixed;
}
.nav-search {
  height: 100px;
  background-color: rgb(254, 238, 237);
  padding-top: 40px;
}
.search {
  height: auto;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 30px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);

  border: 1px solid #d8c6c6;
}
.search-input {
  border-right: 1px solid #d8c6c6;
}
.search-input input {
  display: inline-block;
  width: 90%;
  margin: 10px 0px 10px 20px;
  border: none;
  outline: none;
  font-family: sans-serif;
  color: rgb(199, 200, 202);
}
::placeholder {
  color: rgb(199, 200, 202);
  font-size: 13px;
  font-weight: 500;
  font-family: sans-serif;
}

/* dropdown animation */
.button-add-delete-sort {
  padding-top: 7px;
}
/* angle down orange */
#angle-down {
  height: 0px;
  width: 150px;
  background-color: rgb(255, 110, 1);
  justify-content: center;
  justify-items: center;
  position: relative;
  padding-top: 30px;
  margin-left: 35px;
  border-radius: 10px;
}
.fa-angle-down {
  position: absolute;
  right: 10px;
  top: 5px;
  color: white;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

#view-test {
  height: 0px;
  margin-top: 10px;
  overflow-y: scroll;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  border-radius: 10px;
}
#angle-down input {
  position: absolute;
  top: 1px;
  width: 70%;
  background: none;
  border: none;
  outline: none;
  color: white;
  margin-left: 20px;
}

input[type="radio"] {
  visibility: hidden;
}

#color1 {
  padding-top: 10px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(184, 181, 181);
  background-color: rgb(255, 255, 255);

  padding-left: 20px;
}
a {
  color: black;
  text-decoration: none;
}
#color2 {
  padding-top: 10px;
  width: 100%;
  padding-bottom: 10px;

  background-color: rgb(255, 255, 255);

  padding-left: 20px;
}

/* end */

.custom-select {
  display: inline-block;
  margin-right: 30px;
  margin-left: 50px;
}
.button-delete {
  display: inline-block;
  margin-right: 10px;
}
button {
  width: 70px;
  border-radius: 10px;
  border: none;
  background-color: rgb(253, 84, 61);
  color: rgb(255, 255, 255);
}
button:hover {
  background-color: rgb(245, 38, 10);
  color: rgb(255, 255, 255);
}
.button-add {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: rgb(253, 84, 61);
  color: rgb(255, 255, 255);
  border-radius: 100%;
}
.button-add:hover {
  background-color: rgb(245, 38, 10);
  color: rgb(255, 255, 255);
}
.button-add:hover {
  cursor: pointer;
}
.fa-plus {
  font-size: 15px;
  font-weight: 700;
  padding-left: 7px;
}
table {
  border-left: 2px solid rgb(212, 211, 218);
}
th {
  padding-top: 10px;
  padding-bottom: 10px;
}
table tr td {
  border-collapse: collapse;
  border-bottom: 2px solid rgb(212, 211, 218);
  border-top: 2px solid rgb(212, 211, 218);
  background-color: rgb(255, 255, 255);
  margin: 0px 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

table th {
  padding-left: 20px;
  background-color: rgb(255, 114, 2);
  color: #fff;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 13px;
}

table td {
  padding-left: 20px;
  font-family: sans-serif;
  font-size: 13px;
}
table tr:hover > td {
  background-color: #e3e3dd68;
}
.name-product {
  font-family: sans-serif;
  font-weight: 600;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background-color: aquamarine;
}
.text-edit a {
  text-decoration: none;
  display: none;
  padding-top: 10px;
}

.row-table:hover .text-edit a {
  display: block;
  color: red;
}
.pagination {
  height: 100%;
  border-left: 2px solid rgb(212, 211, 218);
}
.pagenigative {
  position: absolute;
  right: 160px;
  width: auto;
  height: auto;
  padding: 2px 15px 2px 15px;
  margin-top: 15px;
  border: 1px solid rgb(212, 211, 218);
  border-radius: 10px;
}

.angle-left {
  position: absolute;
  right: 120px;
  width: auto;
  height: auto;
  padding: 2px 10px 2px 10px;
  margin-top: 15px;
  border: 1px solid rgb(212, 211, 218);
  border-radius: 10px;
}
a .angle-left {
  color: yellowgreen;
}
.angle-left-disable {
  position: absolute;
  right: 120px;
  width: auto;
  height: auto;
  padding: 2px 10px 2px 10px;
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid rgb(115, 115, 116);
  border-radius: 10px;
}
.angle-right-disable {
  position: absolute;
  right: 80px;
  width: auto;
  height: auto;
  padding: 2px 10px 2px 10px;
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid rgb(115, 115, 116);
  border-radius: 10px;
}
.angle-right {
  position: absolute;
  right: 80px;
  width: auto;
  height: auto;
  padding: 2px 10px 2px 10px;
  margin-top: 15px;
  border: 1px solid rgb(212, 211, 218);
  border-radius: 10px;
}
a .angle-right {
  color: yellowgreen;
}
/* Responsive mobile */
@media screen and (max-width: 600px) {
  .table-dashboard {
    position: unset;
  }
  .menu {
    height: auto;
  }
}
