/* common */
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* .row > * {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
} */
.header {
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgb(253, 84, 61);
  position: fixed;
  z-index: 1;
}
.text-logo {
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  font-family: sans-serif;
  margin: 12.5px 0px 12.5px 40px;

  font-size: 18px;
}
.icon {
  display: inline-block;
}
.restart {
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  font-family: sans-serif;
  margin: 15px 0 15px 0;
  font-size: 18px;
  display: inline-block;
}
.notification {
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  font-family: sans-serif;
  margin: 12.5px 0 12.5px 30px;
  font-size: 18px;
  display: inline-block;
}
.user-infor {
  position: relative;
  text-align: end;
  right: 20px;
  top: 15px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: sans-serif;
}
.user-infor img {
  border-radius: 50%;
}

.menu {
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 150px;
  position: fixed;
}
.menu ul {
  margin-bottom: 330px;
  padding-right: 40px;
  padding-left: 40px;
}
.menu ul li {
  border: 1px solid;
  padding: 10px 0px 10px 30px;
  margin-top: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: 600;
  color: rgb(253, 84, 61);
  font-size: 18px;
  border: rgb(253, 84, 61);
  list-style: none;
}
.button-logout {
  padding: 10px 0px 10px 30px;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: 600;
  border: none;
  color: rgb(253, 84, 61);
}
.button-logout:hover {
  background-color: rgb(253, 84, 61);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.button-logout-class {
  padding: 25px 40px 0px 40px;
}
.button-logout-class a {
  text-decoration: none;
}
/* .menu ul .logout {
  margin-top: 300px;
} */
.menu ul a {
  text-decoration: none;
}
.menu ul li:hover {
  background-color: rgb(253, 84, 61);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.menu ul li .fa-product-hunt {
  margin-right: 25px;
}
.menu ul li .fa-users {
  margin-right: 25px;
}
.menu ul li .fa-chart-simple {
  margin-right: 25px;
}
.button-logout .fa-arrow-right-from-bracket {
  margin-right: 25px;
}
/* end common  */
/* end common  */
.form-post {
  height: auto;
  position: absolute;
  right: 0;
  padding-top: 60px;
  background-color: rgb(254, 238, 237);
  padding: 90px 20px 40px 20px;
}
.form-post-and-search {
  width: 100%;
  height: auto;
  margin: 5px 5px 5px 5px;
  padding-bottom: 30px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
}
.form-post-and-search h3 {
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(253, 105, 85);
  padding-top: 30px;
  padding-left: 30px;
}
.chart {
  width: auto;
  height: auto;
  margin: 10px 30px 10px 30px;
  position: relative;
}
.button-change {
  border: 1px solid;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  /* position: absolute;
  left: 0;
  display: inline-block; */
}
.active,
.btn:hover {
  background-color: rgb(246, 248, 250);
  color: rgb(85, 131, 254);
}
.day {
  text-align: center;
  height: 50px;
  border-right: 2px solid black;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.days {
  font-family: sans-serif;
  font-weight: 700;
  margin-top: 10px;
}
.month {
  text-align: center;
  height: 50px;
  border-right: 2px solid black;
  border-radius: 0;
}
.months {
  font-family: sans-serif;
  font-weight: 700;
  margin-top: 10px;
}
.year {
  text-align: center;
  height: 50px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.years {
  font-family: sans-serif;
  font-weight: 700;
  margin-top: 10px;
}
.search-stat {
  height: 50px;
  background-color: rgb(219, 0, 0);
  /* position: absolute;
  right: 0; */
}
.chart .row {
  --bs-gutter-x: 0;
}
.view-chart {
  width: 100%;
  margin-top: 30px;
  height: 500px;
  border: 1px solid;
  border-radius: 10px;
}
.order {
  margin-top: 30px;
  width: 100%;
  height: auto;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding-bottom: 30px;
}
.order h3 {
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(253, 105, 85);
  padding-top: 30px;
  padding-left: 30px;
}
table {
  border-left: 2px solid rgb(212, 211, 218);
  border-right: 2px solid rgb(212, 211, 218);
}
th {
  padding-top: 10px;
  padding-bottom: 10px;
}
table tr td {
  border-collapse: collapse;
  border-bottom: 2px solid rgb(212, 211, 218);
  border-top: 2px solid rgb(212, 211, 218);
  background-color: rgb(255, 255, 255);
  margin: 0px 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

table th {
  padding-left: 20px;
  background-color: rgb(255, 114, 2);
  color: #fff;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 13px;
}

table td {
  padding-left: 20px;
  font-family: sans-serif;
  font-size: 13px;
}
.sum-access .access {
  background: violet;
  height: 150px;
  width: 80%;
  border-radius: 10px;
}
.sum-access .access p {
  margin-left: 15px;
  padding-top: 15px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.sum-access .access h1 {
  margin-left: 15px;
  font-weight: 800;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.sum-access .ammount-order {
  margin-top: 20px;
  background: violet;
  height: 150px;
  width: 80%;
  border-radius: 10px;
}
.sum-access .ammount-order p {
  margin-left: 15px;
  padding-top: 15px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.sum-access .ammount-order h1 {
  margin-left: 15px;
  font-weight: 800;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.sum-access .sum-checkout {
  margin-top: 20px;
  background: violet;
  height: 150px;
  width: 80%;
  border-radius: 10px;
}
.sum-access .sum-checkout p {
  margin-left: 15px;
  padding-top: 15px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.sum-access .sum-checkout h1 {
  margin-left: 15px;
  font-weight: 800;
  font-size: 50px;
  color: rgb(255, 255, 255);
}
/* common */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap");

* {
  padding: 0;
  margin: 0;
}
.row > * {
  padding-left: 0;
  padding-right: 0;
}
ol ul {
  padding-left: 0;
}
body {
  min-height: 100%;
}
.page-dashboard {
  height: auto;
}
.dashboard-main {
  background-color: rgb(247, 246, 249);
}
.menu-dashboard img {
  height: auto;
  width: 100%;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.text-main-menu {
  font-size: 15px;
  color: rgb(123, 121, 130);
  margin: 20px 30px 20px 20px;
  font-family: "Roboto Mono", monospace;
}
.intergration-product a {
  text-decoration: none;
}
.button-add-product {
  text-align: center;
  background-color: rgb(100, 38, 254);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}
.button-add-product:hover {
  background-color: rgb(207, 237, 7);
}

button {
  text-align: center;
  background-color: rgb(100, 38, 254);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  border: none;
}
button:hover {
  background-color: rgb(207, 237, 7);
  color: rgb(100, 38, 254);
}
#menu-dashboard ul {
  padding-left: 0;
}
.menu-dashboard a {
  text-decoration: none;
}
#menu-dashboard ul li {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-top: 10px;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(116, 115, 118);
}

.active,
#menu-dashboard ul li:hover {
  background-color: rgb(239, 233, 255);
  color: rgb(135, 83, 254);
  border-left: 5px solid rgb(97, 47, 214);
  cursor: pointer;
}
.intergration-product h3 {
  font-family: arial, sans-serif;
  font-weight: 700;
  margin-left: 20px;
  padding-top: 20px;
}
.intergration-product p {
  margin-left: 20px;
  font-family: arial, sans-serif;
  font-weight: 600;
  color: rgb(176, 176, 179);
}
/* .dashboard-main {
  height: 200px;
  width: 100%;
  background-color: rgb(0, 2, 20);
  float: right;
} */
/* #black-background {
  height: 200px;
  width: 100%;
  background-color: rgb(0, 2, 20);
  margin: 0;
}
#black-background h1 {
  color: #fff;
  font-weight: 600;
  padding-top: 70px;
  text-align: center;
}
.intergration-product {
  height: auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: rgb(255, 255, 255);
  margin: 0px 50px;
  margin-top: 30px;
  padding-right: 50px;
}

.accessed {
  background-color: rgb(166, 247, 226);
  border-radius: 10px;
  box-shadow: 5px 0px 10px 5px #015143;
  margin-left: 30px;
  width: 30%;
}

th {
  padding-top: 20px;
  padding-bottom: 20px;
}
table {
  margin-bottom: 200px;
}
table tr {
  background-color: 2px solid rgb(212, 211, 218);
}
td {
  border-collapse: collapse;
  border-bottom: 2px solid rgb(212, 211, 218);
  border-top: 2px solid rgb(212, 211, 218);
  background-color: rgb(255, 255, 255);
  margin: 0px 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
table th {
  padding-left: 20px;
  padding-right: 20px;
}
table td {
  padding-left: 20px;
  padding-right: 20px;
} */

/* common */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap");

* {
  padding: 0;
  margin: 0;
}
.row > * {
  padding-left: 0;
  padding-right: 0;
}
ol ul {
  padding-left: 0;
}
body {
  min-height: 100%;
}
.page-dashboard {
  height: auto;
}
.menu-dashboard {
  border-right: 2px solid rgb(212, 211, 218);
  height: 750px;
}
.menu-dashboard img {
  height: auto;
  width: 100%;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.text-main-menu {
  font-size: 15px;
  color: rgb(123, 121, 130);
  margin: 20px 30px 20px 20px;
  font-family: "Roboto Mono", monospace;
}
.intergration-product a {
  text-decoration: none;
}
.button-add-product {
  text-align: center;
  background-color: rgb(100, 38, 254);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}
.button-add-product:hover {
  background-color: rgb(207, 237, 7);
}
.button {
  text-align: center;
}
button {
  text-align: center;
  background-color: rgb(100, 38, 254);
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  border: none;
}
button:hover {
  background-color: rgb(207, 237, 7);
  color: rgb(100, 38, 254);
}
#menu-dashboard ul {
  padding-left: 0;
}

.menu-dashboard a {
  text-decoration: none;
}
#menu-dashboard ul li {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  margin-top: 10px;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 18px;
  color: rgb(235, 67, 52);
}

.active,
#menu-dashboard ul li:hover {
  background-color: rgb(239, 233, 255);
  color: rgb(135, 83, 254);
  border-left: 5px solid rgb(97, 47, 214);
  cursor: pointer;
}
.intergration-product h3 {
  font-family: arial, sans-serif;
  font-weight: 700;
  margin-left: 20px;
  padding-top: 20px;
}
.intergration-product p {
  margin-left: 20px;
  font-family: arial, sans-serif;
  font-weight: 600;
  color: rgb(176, 176, 179);
} */
/* .dashboard-main {
  height: 200px;
  width: 100%;
  background-color: rgb(0, 2, 20);
  float: right;
} */
/* #black-background {
  height: 70px;
  width: 100%;
  background-color: rgba(21, 21, 21, 0.797);
  margin: 0;
}
#black-background img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 10px;
  position: absolute;
  right: 10px;
}
#black-background .admin {
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  right: 100px;
  margin-top: 20px;
}
.button-logout {
  border-radius: 10px;
  background-color: rgba(253, 86, 14, 0.884);
  color: #fff;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline;
  position: absolute;
  margin-top: 10px;
  right: 180px;
}
.intergration-product {
  height: auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: rgb(255, 255, 255);

  padding-right: 50px;
}
.image-circle img {
  border-radius: 50%;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
}
table tr td {
  border-collapse: collapse;
  border-bottom: 2px solid rgb(212, 211, 218);
  border-top: 2px solid rgb(212, 211, 218);
  background-color: rgb(255, 255, 255);
  margin: 0px 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

table th {
  padding-left: 20px;
  background-color: rgb(254, 195, 46);
  color: #fff;
  font-weight: 800;
  font-family: sans-serif;
  font-size: 12px;
}
table td {
  padding-left: 20px;
  font-family: sans-serif;
  font-size: 13px;
}
.name-product {
  font-family: sans-serif;
  font-weight: 600;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background-color: aquamarine;
}
.text-edit a {
  text-decoration: none;
  display: none;
  padding-top: 10px;
}

.row-table:hover .text-edit a {
  display: block;
  color: red;
}

.stat-user-access {
  justify-content: center;
}
.box1 {
  text-align: center;
  margin: 30px;
  border-radius: 5px;
  border: 2px solid tomato;
}

.text-stat {
  font-family: sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
} */
