/* common */
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* .row > * {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
} */
.header {
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgb(253, 84, 61);
  position: fixed;
  z-index: 1;
}
.text-logo {
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  font-family: sans-serif;
  margin: 12.5px 0px 12.5px 40px;

  font-size: 18px;
}
.icon {
  display: inline-block;
}
.restart {
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  font-family: sans-serif;
  margin: 15px 0 15px 0;
  font-size: 18px;
  display: inline-block;
}
.notification {
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  font-family: sans-serif;
  margin: 12.5px 0 12.5px 30px;
  font-size: 18px;
  display: inline-block;
}
.user-infor {
  position: relative;
  text-align: end;
  right: 20px;
  top: 15px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: sans-serif;
}
.user-infor img {
  border-radius: 50%;
}

.menu {
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 150px;
  position: fixed;
}
.menu ul {
  margin-bottom: 330px;
  padding-right: 40px;
  padding-left: 40px;
}
.menu ul li {
  border: 1px solid;
  padding: 10px 0px 10px 30px;
  margin-top: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: 600;
  color: rgb(253, 84, 61);
  font-size: 18px;
  border: rgb(253, 84, 61);
  list-style: none;
}
.button-logout {
  padding: 10px 0px 10px 30px;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: 600;
  border: none;
  color: rgb(253, 84, 61);
}
.button-logout:hover {
  background-color: rgb(253, 84, 61);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.button-logout-class {
  padding: 25px 40px 0px 40px;
}
.button-logout-class a {
  text-decoration: none;
}
/* .menu ul .logout {
  margin-top: 300px;
} */
.menu ul a {
  text-decoration: none;
}
.menu ul li:hover {
  background-color: rgb(253, 84, 61);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.menu ul li .fa-product-hunt {
  margin-right: 25px;
}
.menu ul li .fa-users {
  margin-right: 25px;
}
.menu ul li .fa-chart-simple {
  margin-right: 25px;
}
.button-logout .fa-arrow-right-from-bracket {
  margin-right: 25px;
}
/* end common  */
/* end common  */
.form-post {
  height: auto;
  position: absolute;
  right: 0;
  padding-top: 60px;
  background-color: rgb(254, 238, 237);
  padding: 110px 50px 50px 50px;
}
.form-post-and-search {
  width: 100%;
  height: auto;
}
.form-post-and-search .search {
  padding: 10px 0px 10px 10px;
  width: 250px;

  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.fa-magnifying-glass {
  font-size: 25px;
  margin-right: 10px;
  color: rgb(186, 187, 190);
}
input[type="text"] {
  width: 70%;
  border: none;
  outline: none;
}
.form-post-product {
  width: 100%;
  height: 770px;
  background: rgb(255, 255, 255);
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 4px 2px 6px 6px #b0a4a457;
}

.text-add-product {
  font-size: 18px;
  font-weight: 700;
  font-family: sans-serif;
  padding: 30px 30px 0px 30px;
}

.form-post-product-list {
  margin: 30px 30px 50px 30px;
}
.form-label {
  font-size: 14px;
  font-weight: 700;
  font-family: sans-serif;
}
.form-post-product-list input[type="text"] {
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
  width: 100%;
}
.form-post-product-list input[type="number"] {
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
}
.form-post-product-list input[type="email"] {
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
}
.form-post-product-list input[type="password"] {
  height: 50px;
  border-radius: 10px;
  border: 1px solid black;
}
.form-post-product-list input[type="file"] {
  border-radius: 10px;
  border: 1px solid black;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  resize: none;
}
.button-add input[type="submit"] {
  height: 50px;
  width: 150px;
  background: rgb(104, 140, 238);
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: 700;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  position: absolute;
  right: 80px;
  margin-top: 30px;
}
