* {
  padding: 0;
  margin: 0;
}
body {
  background: url(../img/background.png);
  background-size: cover;
  background-position-y: -60px;
}
#wrapper {
  min-height: 700px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.form-login {
  background-color: rgba(252, 60, 2, 0.731);
  width: 300px;
  height: 300px;
  padding: 30px 30px 30px 30px;
  opacity: 0.8;
  box-shadow: 0 0 15px 5px;
}
h1 {
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
  text-transform: uppercase;
}
.mb-3 {
  border-bottom: 1px #fff solid;
}
.form-login input[type="text"] {
  border: none;
  width: 100%;
  margin-top: 30px;
  outline: 0;
  font-size: 20px;
  background: none;
  padding-left: 30px;
}
.form-login input[type="password"] {
  border: none;
  width: 100%;
  margin-top: 30px;
  outline: 0;
  font-size: 20px;
  background: none;
  padding-left: 30px;
}
.form-login input[type="number"] {
  border: none;
  width: 100%;
  margin-top: 30px;
  outline: 0;
  font-size: 20px;
  background: none;
  padding-left: 30px;
}
::placeholder {
  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
  margin-top: 30px;
}
input[type="submit"] {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  outline: none;
  border: 1px rgb(232, 230, 229) solid;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 600;
}
input[type="submit"]:hover {
  cursor: pointer;
  background-color: coral;
  animation: 1s;
  border: 1px rgb(105, 104, 103) solid;
}
.fa-user {
  position: absolute;
  margin-top: 30px;
}
.fa-key {
  position: absolute;
  margin-top: 30px;
}
