* {
  padding: 0;
  margin: 0;
}

.sumcheckout1 {
  position: relative;
  left: 300px;

  width: 200px;
  height: 70px;
  margin-top: 20px;
  border: 1px solid yellowgreen;
  border-radius: 7px;
}

.sumcheckout2 {
  position: absolute;
  right: 300px;
  width: 200px;
  height: 70px;
  margin-top: 20px;
  border-radius: 7px;
  border: 1px solid yellowgreen;
}
.checkout-satis {
  padding-bottom: 30px;
}
.text-sumcheckout {
  padding-top: 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
