{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      href="{% static 'fontawesomefree/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="{% static 'css/dashboard_stat.css' %}" />
  </head>
  <body>
    <div class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="logo col-12 col-sm-12 col-lg-3">
            <div class="text-logo">Homes xin chào</div>
          </div>
          <div class="icon col-12 col-sm-12 col-lg-7">
            <div class="restart"><i class="fa-solid fa-rotate-left"></i> 1</div>
            <div class="notification">
              <i class="fa fa-solid fa-bell"></i> 1
            </div>
          </div>
          <div class="user-infor col-12 col-sm-12 col-lg-2">
            {{admin_get.username}}
            <img
              src="http://192.168.1.25:5000/image_view_admin/{{admin_get.id}}"
              alt=""
              width="30px"
              height="30px"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="dashboard">
        <div class="row">
          <div class="menu col-12 col-lg-3">
            <ul>
              <a href="{% url 'module:dashboard' %}">
                <li><i class="fa-brands fa-product-hunt"></i> Product</li>
              </a>
              <a href="{% url 'module:dashboarduser' %}">
                <li><i class="fa fa-users"></i> User</li>
              </a>
              <a href="{% url 'module:getstatistical' %}">
                <li><i class="fa-solid fa-chart-simple"></i> Thống kê</li>
              </a>
            </ul>
            <div class="button-logout-class">
              <a href="{% url 'module:logout' %}">
                <div class="button-logout">
                  <i class="fa fa-arrow-right-from-bracket"></i> Log out
                </div>
              </a>
            </div>
          </div>
          <div class="form-post col-12 col-lg-9">
            <div class="form-post-and-search">
              <h3>Thống kê Lượt truy cập</h3>
              <div class="chart">
                <div class="row">
                  <div class="button-change col-12 col-sm-12 col-lg-4">
                    <div class="row">
                      <div
                        class="btn day col-4 col-lg-4 active"
                        id="activebtn"
                        onclick="myFunction()"
                      >
                        <div class="days">Day</div>
                      </div>
                      <div
                        class="btn month col-4 col-lg-4"
                        id="activebtn1"
                        onclick="myFunction2()"
                      >
                        <div class="months">weeks</div>
                      </div>
                      <div
                        class="btn year col-4 col-lg-4"
                        id="activebtn2"
                        onclick="myFunction3()"
                      >
                        <div class="years">Month</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="view-chart">
                  <div
                    id="myDIV"
                    style="display: block; padding-top: 20px; height: 500px"
                  >
                    <canvas id="myChart1"></canvas>
                    <div>
                      <script>
                          const ctx1 = document.getElementById("myChart1").getContext("2d");
                          var myChart1 = new Chart(ctx1, {


                            data: {
                              labels: [{% for number in day_access %} '{{number}}' ,{% endfor %}],
                              datasets: [
                                {
                                  type: 'bar',
                                  label: "Lượt truy cập trong ngày",
                                  data: [{% for number_day_access in count_access %} '{{number_day_access}}' ,{% endfor %}],
                                  borderWidth: 2,
                                  fill: false,

                                  backgroundColor:'rgb(183, 155, 255)',
                                  hoverBackgroundColor:'rgb(255, 229, 165)',
                                  font: {size: 18},

                                },{
                                  type: 'line',
                                  label: "Lượt truy cập trong ngày",
                                  data: [{% for number_day_access in count_access %} '{{number_day_access}}' ,{% endfor %}],
                                  borderWidth: 3,
                                  fill: false,
                                  borderColor:'rgb(251, 155, 241)',

                                  backgroundColor:'rgb(183, 155, 255)',
                                  hoverBackgroundColor:'rgb(255, 229, 165)',
                                  font: {size: 18},
                                  tension:0.4,



                                }
                              ],
                            },
                            options: {
                              scales: {
                              y: {
                                min: 0,
                                max:10
                              }
                            },
                              plugins: {
                                    title: {
                                        display: true,
                                        text: 'Thống kê lượt truy cập trong ngày',
                                        font: {size:18,weight:'bold'},
                                        color:'rgb(234, 76, 137)'
                                    }
                                }

                          },
                          showTooltips: false,
                          onAnimationComplete: function () {

                              var ctx = this.chart.ctx;
                              ctx.font = this.scale.font;
                              ctx.fillStyle = this.scale.textColor
                              ctx.textAlign = "center";
                              ctx.textBaseline = "bottom";

                              this.datasets.forEach(function (dataset) {
                                  dataset.points.forEach(function (points) {
                                      ctx.fillText(points.value, points.x, points.y - 10);
                                  });
                              })
                          }
                        });
                      </script>
                    </div>
                  </div>
                  <div
                    id="myDIV2"
                    style="display: none; padding-top: 20px; height: 500px"
                  >
                    <canvas id="myChart2"></canvas>
                    <div>
                      <script>
                          const ctx2 = document.getElementById("myChart2").getContext("2d");
                          var myChart2 = new Chart(ctx2, {
                            data: {
                              labels: [{% for number_week in week_access %} 'Tuần {{number_week}}' ,{% endfor %}],
                              datasets: [
                                {
                                  type: 'bar',
                                  label: "Lượt truy cập trong tuần",
                                  data: [{% for number_week_access in count_week_access %} '{{number_week_access}}' ,{% endfor %}],
                                  borderWidth: 2,
                                  fill: false,

                                  backgroundColor:'rgb(183, 155, 255)',
                                  hoverBackgroundColor:'rgb(255, 229, 165)',
                                  font: {size: 18},


                                },{
                                  type: 'line',
                                  label: "Lượt truy cập trong tuần",
                                  data: [{% for number_week_access in count_week_access %} '{{number_week_access}}' ,{% endfor %}],
                                  borderWidth: 3,
                                  fill: false,
                                  borderColor:'rgb(251, 155, 241)',

                                  backgroundColor:'rgb(183, 155, 255)',
                                  hoverBackgroundColor:'rgb(255, 229, 165)',
                                  font: {size: 18},
                                  tension:0.4,

                                },
                              ],
                            },
                            options: {
                              scales: {
                              y: {
                                min: 0,
                                max:10
                              }
                            },
                            plugins: {
                                    title: {
                                        display: true,
                                        text: 'Thống kê lượt truy cập trong tuần',
                                        font: {size:18,weight:'bold'},
                                        color:'rgb(234, 76, 137)'
                                    }
                                }

                          },
                        });
                      </script>
                    </div>
                  </div>
                  <div
                    id="myDIV3"
                    style="display: none; padding-top: 20px; height: 500px"
                  >
                    <canvas id="myChart3"></canvas>
                    <div>
                      <script>
                          const ctx3 = document.getElementById("myChart3").getContext("2d");
                          var myChart3 = new Chart(ctx3, {

                            data: {
                              labels: [{% for number_month in month_access %} 'Tháng {{number_month}}' ,{% endfor %}],
                              datasets: [
                                {
                                  type: 'bar',
                                  label: "Lượt truy cập trong tháng",
                                  data: [{% for number_month_access in count_month_access %} '{{number_month_access}}' ,{% endfor %}],
                                  borderWidth: 2,
                                  fill: false,
                                  backgroundColor:'rgb(183, 155, 255)',
                                  hoverBackgroundColor:'rgb(255, 229, 165)',

                                  font: {size: 18},


                                },
                                {
                                  type: 'line',
                                  label: "Lượt truy cập trong tháng",
                                  data: [{% for number_month_access in count_month_access %} '{{number_month_access}}' ,{% endfor %}],
                                  borderWidth: 3,
                                  fill: false,
                                  borderColor:'rgb(251, 155, 241)',

                                  backgroundColor:'rgb(183, 155, 255)',
                                  hoverBackgroundColor:'rgb(255, 229, 165)',
                                  font: {size: 18},
                                  tension:0.4,

                                },
                              ],
                            },
                            options: {
                              animations: {
                                tension: {
                                  duration: 1000,
                                  easing: 'easeOutCubic',
                                  from: 1,
                                  to: 0,
                                  loop: true
                                }
                              },
                              scales: {
                              y: {
                                min: 0,
                                max:10
                              }
                            },
                            plugins: {
                                    title: {
                                        display: true,
                                        text: 'Thống kê lượt truy cập trong tháng',
                                        font: {size:18,weight:'bold'},
                                        color:'rgb(234, 76, 137)'
                                    }
                                }

                          },
                        });
                      </script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="order">
              <h3>Thống kê đơn hàng</h3>
              <div class="row">
                <div class="col-12 col-lg-8">
                  <div class="table-product">
                    <table style="width: 100%">
                      <tr>
                        <th scope="col ">Date checkout</th>
                        <th scope="col ">Customer</th>
                        <th scope="col">Telephone number</th>
                        <th scope="col">Payment-code</th>
                        <th scope="col">Amount</th>
                      </tr>
                      {% for userss in listcheckout %}
                      <tr>
                        <td>{{userss.order_date}}</td>

                        <td>
                          {{userss.user_first_name}} {{userss.user_last_name}}
                        </td>

                        <td>{{userss.phone}}</td>
                        <td>VN-000000N{{userss.id}}</td>
                        <td>{{userss.price}} đồng</td>
                      </tr>
                      {% endfor %}
                    </table>
                  </div>
                </div>
                <div class="sum-access col-12 col-lg-4">
                  <div class="access">
                    <p class="text-stat">Tổng lượt truy cập</p>
                    <h1>{{sumcountaccessdate}}</h1>
                  </div>

                  <div class="ammount-order">
                    <p class="text-stat">Tổng đơn hàng</p>
                    <h1>{{sumcheckout}}</h1>
                  </div>

                  <div class="sum-checkout">
                    <p class="text-stat">Tổng doanh thu</p>
                    <h1>{{sumpricecheckout}}</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'js/charts.js' %}"></script>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'js/changebutton.js' %}"></script>
  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
</html>
<script>
  // Add active class to the current button (highlight it)
  var header = document.getElementById("myDIV");
  var btns = header.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function () {
      var current = document.getElementsByClassName("active");
      if (current.length > 0) {
        current[0].className = current[0].className.replace(" active", "");
      }
      this.className += " active";
    });
  }
</script>
