{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      rel="stylesheet"
      href="https://kit.fontawesome.com/b54e527933.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="wrapper">
      <div class="form-login">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        <h1>Login</h1>
        <form
          action="{% url 'module:adminLogin' %}"
          method="POST"
          enctype="multipart/form-data"
        >
          {% csrf_token %}

          <div class="mb-3">
            <i class="fa fa-user"></i>
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              name="username"
              placeholder="Please input username"
              required
            />
          </div>
          <div class="mb-3">
            <i class="fa fa-key"></i>
            <input
              type="password"
              class="form-control"
              id="exampleFormControlInput1"
              name="password"
              placeholder="Please input password"
              required
            />
          </div>

          <div class="row">
            <div class="col-12 col-sm-12 col-lg-4">
              <input type="submit" value="Login" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/b54e527933.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
