{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="{% static 'fontawesomefree/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css"
      integrity="sha384-z4tVnCr80ZcL0iufVdGQSUzNvJsKjEtqYZjiQrrYKlpGow+btDHDfQWkFjoaz/Zr"
      crossorigin="anonymous"
    /> -->

    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <script src="{% static 'js/hide-show-checkbox.js'%}"></script>
  </head>
  <body>
    <div class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="logo col-12 col-sm-12 col-lg-3">
            <div class="text-logo">Homes xin chào</div>
          </div>
          <div class="icon col-12 col-sm-12 col-lg-7">
            <div class="restart"><i class="fa-solid fa-rotate-left"></i> 1</div>
            <div class="notification">
              <i class="fa fa-solid fa-bell"></i> 1
            </div>
          </div>
          <div class="user-infor col-12 col-sm-12 col-lg-2">
            {{admin_get.username}}
            <img
              src="http://192.168.1.25:5000/image_view_admin/{{admin_get.id}}"
              alt=""
              width="30px"
              height="30px"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="dashboard">
        <div class="row">
          <div class="menu col-12 col-lg-3">
            <ul>
              <a href="{% url 'module:dashboard' %}">
                <li><i class="fa-brands fa-product-hunt"></i> Product</li>
              </a>
              <a href="{% url 'module:dashboarduser' %}">
                <li><i class="fa fa-users"></i> User</li>
              </a>
              <a href="{% url 'module:getstatistical' %}">
                <li><i class="fa-solid fa-chart-simple"></i> Thống kê</li>
              </a>
            </ul>
            <div class="button-logout-class">
              <a href="{% url 'module:logout' %}">
                <div class="button-logout">
                  <i class="fa fa-arrow-right-from-bracket"></i> Log out
                </div>
              </a>
            </div>
          </div>
          <form action="{% url 'module:dashboarduser' %}" method="post">
            {% csrf_token %}
            <div class="table-dashboard col-12 col-lg-9">
              <div class="nav-search">
                <div class="search row">
                  <div class="search-input col-12 col-lg-8">
                    <i class="fa fa-magnifying-glass"></i>
                    <input
                      type="text"
                      placeholder="Tìm kiếm theo tên người dùng"
                    />
                  </div>
                  <div class="button-add-delete-sort col-12 col-lg-4">
                    <div class="row">
                      <div class="col-lg-7">
                        <div id="angle-down" onclick="click_3d()">
                          <input id="angle-down2" value="Z-A" disabled />
                          <i class="fa-solid fa-angle-down" id="fa"> </i>

                          <div id="view-test">
                            <a href="{%  url 'module:dashboarduser' %}">
                              <div
                                value="A-Z"
                                id="color1"
                                onClick="changeColor()"
                              >
                                A-Z
                              </div>
                            </a>
                            <a href="{%  url 'module:sort_za_user' %}">
                              <div
                                value="Z-A"
                                id="color2"
                                onClick="changeColor2()"
                              >
                                Z-A
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="button-delete">
                          <button
                            type="submit"
                            id="checkbox-tick-delete"
                            value="Delete mul product"
                            class="button-delete"
                          >
                            Xóa
                          </button>
                        </div>
                      </div>
                      <div class="col-lg-2">
                        <a href="{% url 'module:getformuser' %}">
                          <div class="button-add">
                            <i class="fa-solid fa-plus"></i></div
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-dashboard-main">
                <table style="width: 100%">
                  <tr>
                    <th><input type="checkbox" name="" id="" /></th>
                    <th>Image</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Password</th>
                    <th>Email</th>

                    <th>Address</th>
                    <th>Phone</th>
                  </tr>
                  {% for userss in number_page %}
                  <tr class="row-table">
                    <td>
                      <input
                        type="checkbox"
                        value="{{userss.id}}"
                        id="checkbox-tick-delete"
                        name="user_delete"
                        onclick="choose_check()"
                      />
                    </td>
                    <td>
                      <div class="row">
                        <div class="image-circle col-4 col-sm-4 col-lg-4">
                          <img
                            src="http://192.168.1.25:5000/image_view_user/{{userss.id}}"
                            width="50px"
                            height="50px"
                            alt=""
                          />
                        </div>
                        <div class="text-edit col-8 col-sm-8 col-lg-8">
                          <a href="{% url 'module:getupdateuser' userss.id %}"
                            >Chỉnh sửa</a
                          >
                        </div>
                      </div>
                    </td>
                    <td>{{userss.firstname}}</td>
                    <td>{{userss.lastname}}</td>
                    <td>{{userss.password}}</td>
                    <td>{{userss.email}}</td>
                    <td>{{userss.address}}</td>
                    <td>{{userss.phone}}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
              <div class="pagination">
                <div class="pagenigative">
                  {{number_page.number}} of {{number_page.paginator.num_pages}}
                </div>
                {% if number_page.has_previous %}
                <a href="?page={{number_page.previous_page_number}}">
                  <div class="angle-left">
                    <i class="fa-solid fa-angle-left"></i>
                  </div>
                </a>
                {% else %}
                <div class="angle-left-disable" disabled>
                  <i class="fa-solid fa-angle-left"></i>
                </div>
                {% endif %} {% if number_page.has_next %}
                <a href="?page={{number_page.next_page_number}}">
                  <div class="angle-right">
                    <i class="fa-solid fa-angle-right"></i>
                  </div>
                </a>
                {% else %}
                <a href="?page={{number_page.previous_page_number}}">
                  <div class="angle-left">
                    <i class="fa-solid fa-angle-left"></i>
                  </div>
                </a>

                <div class="angle-right-disable" disabled>
                  <i class="fa-solid fa-angle-right"></i>
                </div>
                {% endif %}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
  <script src="{% static 'js/check_change_select.js'%}"></script>
  <script src="{% static 'js/charts.js'%}"></script>
</html>
