{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/form_post.css' %}" />
    <link
      href="{% static 'fontawesomefree/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <div class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="logo col-12 col-sm-12 col-lg-3">
            <div class="text-logo">Homes xin chào</div>
          </div>
          <div class="icon col-12 col-sm-12 col-lg-7">
            <div class="restart"><i class="fa-solid fa-rotate-left"></i> 1</div>
            <div class="notification">
              <i class="fa fa-solid fa-bell"></i> 1
            </div>
          </div>
          <div class="user-infor col-12 col-sm-12 col-lg-2">
            {{admin_get.username}}
            <img
              src="http://192.168.1.25:5000/image_view_admin/{{admin_get.id}}"
              alt=""
              width="30px"
              height="30px"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="dashboard">
        <div class="row">
          <div class="menu col-12 col-lg-3">
            <ul>
              <a href="{% url 'module:dashboard' %}">
                <li><i class="fa-brands fa-product-hunt"></i> Product</li>
              </a>
              <a href="{% url 'module:dashboarduser' %}">
                <li><i class="fa fa-users"></i> User</li>
              </a>
              <a href="{% url 'module:getstatistical' %}">
                <li><i class="fa-solid fa-chart-simple"></i> Thống kê</li>
              </a>
            </ul>
            <div class="button-logout-class">
              <a href="{% url 'module:logout' %}">
                <div class="button-logout">
                  <i class="fa fa-arrow-right-from-bracket"></i> Log out
                </div>
              </a>
            </div>
          </div>
          <div class="form-post col-12 col-lg-9">
            <div class="form-post-and-search">
              <div class="search">
                <i class="fa fa-magnifying-glass"></i>
                <input type="text" placeholder="Tìm kiếm người dùng" />
              </div>
              <div class="form-post-product">
                <div class="text-add-product">Thêm mới người dùng</div>
                <div class="form-post-product-list">
                  <form
                    action="{% url 'module:update_user' data_id.id  %}"
                    method="POST"
                    enctype="multipart/form-data"
                  >
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label"
                        >Hình ảnh</label
                      >
                      <input
                        type="file"
                        class="form-control"
                        id="exampleFormControlInput1"
                        name="image"
                        required
                      />
                    </div>

                    <div class="row">
                      <div class="col-12 col-lg-6">
                        <div class="mb-3">
                          <label
                            for="exampleFormControlInput1"
                            class="form-label"
                            >Họ</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="exampleFormControlInput1"
                            name="firstname"
                            placeholder="Please input firstname"
                            required
                            value="{{data_id.firstname}}"
                          />
                        </div>
                      </div>
                      <div class="col-12 col-lg-6">
                        <div class="mb-3">
                          <label
                            for="exampleFormControlInput1"
                            class="form-label"
                            >Tên</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="exampleFormControlInput1"
                            placeholder="Please input lastname"
                            name="lastname"
                            required
                            value="{{data_id.lastname}}"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-lg-6">
                        <div class="mb-3">
                          <label
                            for="exampleFormControlInput1"
                            class="form-label"
                            >Email</label
                          >
                          <input
                            type="email"
                            class="form-control"
                            id="exampleFormControlInput1"
                            placeholder="Please input email"
                            name="email"
                            required
                            value="{{data_id.email}}"
                          />
                        </div>
                      </div>
                      <div class="col-12 col-lg-6">
                        <div class="mb-3">
                          <label
                            for="exampleFormControlInput1"
                            class="form-label"
                            >Mật khẩu</label
                          >
                          <input
                            type="password"
                            class="form-control"
                            id="exampleFormControlInput1"
                            placeholder="Please input password"
                            name="password"
                            required
                            value="{{data_id.password}}"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-lg-6">
                        <div class="mb-3">
                          <label
                            for="exampleFormControlInput1"
                            class="form-label"
                            >Địa chỉ</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="exampleFormControlInput1"
                            name="address"
                            placeholder="Please input address"
                            required
                            value="{{data_id.address}}"
                          />
                        </div>
                      </div>
                      <div class="col-12 col-lg-6">
                        <div class="mb-3">
                          <label
                            for="exampleFormControlInput1"
                            class="form-label"
                            >Số điện thoại</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="exampleFormControlInput1"
                            name="phone"
                            placeholder="Please input phone"
                            maxlength="10"
                            required
                            value="{{data_id.phone}}"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="button-add">
                      <input type="submit" value="Cập nhật" />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
</html>
